<div class="container">
  <section id="login">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-wrap">
            <h1>Log in with your email account</h1>
            <div ng-show="authError" class="alert alert-danger" role="alert">Incorrect email or password</div>
            <form role="form">
              <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input ng-model="email" type="email" name="email" id="email" class="form-control input-lg" placeholder="somebody@example.com">
              </div>
              <div class="form-group">
                <label for="key" class="sr-only">Password</label>
                <input ng-model="password" type="password" name="key" id="key" class="form-control input-lg" placeholder="Password">
              </div>
              <div class="checkbox">
                <span class="character-checkbox" onclick="showPassword()"></span>
                <span class="label">Show password</span>
              </div>
              <input ng-click="login()" ng-disabled="authError" type="button" id="btn-login" class="btn btn-success btn-lg btn-block" value="Sign in">
            </form>
            <a href="javascript:;" class="forget" data-toggle="modal" data-target=".forget-modal">Forgot your password?</a>
            <hr>
          </div>
        </div>
        <!-- /.col-xs-12 -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
  <div/>
